* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-color: rgb(232, 232, 232);
    overflow-x: hidden;
}
#header {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(232, 232, 232);
}
#header img {
    width: 22em;
}
#nav-bar {
    display: flex;
    align-items: flex-start;
    column-gap: 50px;
    margin-right: 2em;
}
#nav-bar > a {
   font-size: 1.2em;
   text-decoration: none;
   color: black;
}
section {
    position: relative;
    z-index: -1;
}
form {
    width: 40em;
    /* background-color: white; */
    margin: auto auto auto 34em;
    padding: 1em;
}
form > input {
    display: block;
}
#form input[type="email"] {
    width: 20em;
    margin: 1em auto auto 6em;
    padding: 0.7em;
    font-size: 1em
}
#form input[type="submit"] {
    width: 9em;
    margin: 1em auto auto 12em;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    border: none;
    background-color: orange;
    cursor: pointer;   
}
#form input[type="submit"]:hover {
    background-color: orangered;   
}
h1 {
    font-weight: 500;
}
#features {
    margin: 6em auto auto 20em;
    width: 70%;
}
.feature-item {
    margin-top: 3em;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 80em;
    column-gap: 50px;
}
.image img {
    width: 3em;
    padding-top: 1em;
    align-items: center;
}
.text {
    align-items: baseline;
}
.text p {
    font-size: 1.2em;
    width: 40em;
    line-height: 1.3em;
}
h3 {
    font-size: 2em;
}
#how_it_works {
    margin: 6em auto auto 33em;
    width: 70%;
}
video {
    width: 30em;
    height: 15em; 
}
#pricing {
    margin: 6em auto auto 14em;
    width: 70%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
#pricing > .trombone {
    width: 17em;
    height: 20em;
    border: 1px solid black;
}
.trombone header {
    background-color: rgb(201, 201, 201);
    height: 4em;

}
.trombone h3 {
    text-align: center;
}
.trombone button {
    text-align: center;
    padding: 0.7em;
    margin: 2em auto auto 7em;
    border: none;
    width: 6em;
    background-color: orange;
    cursor: pointer;
}
.trombone button:hover {
    background-color: orangered;
}

.trombone ul > li {
    text-align: center;
    list-style-type: none;
    padding-top: 0.8em;
}
h4 {
    font-size: 1.2em;
    text-align: center;
    padding-top: 1em;  
}
footer {
    margin: 1em auto auto 21em;
    width: 55.2%;
    padding: 1em;
    height: 5em;
    background-color: rgb(201, 201, 201);
}
footer nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 20px;
}
footer p {
   position: relative;
   display: flex;
   margin: 0.4em 0;
   justify-content: flex-end;
}
footer nav > a {
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 500px){
    #header img {
        width: 15em;
    }
    #nav-bar {
        column-gap: 15px;
    }
    #nav-bar > a {
       font-size: 0.9em;
    }
    form {
        width: 25em;
        /* background-color: white; */
        margin: auto auto auto 3em;
        padding: 1em;
    }
    #form input[type="email"] {
        width: 20em;
        margin: 1em auto auto 2em;
        padding: 0.5em;
        font-size: 0.9em
    }
    #form input[type="submit"] {
        width: 8em;
        margin: 1em auto auto 12em;
        font-size: 0.7em;  
    }
    h1 {
        font-size: 1.4em;
    }
    #features {
        margin: 6em auto auto 3em;
        width: 60%;
    }
    .feature-item {
        column-gap: 20px;
    }
    .image img {
        width: 2em;
    }
    .text p {
        font-size: 0.9em;
        width: 25em;
    }
    h3 {
        font-size: 1.4em;
    }
    #how_it_works {
        margin: 6em auto auto 6em;
        width: 50%;
    }
    video {
        width: 20em; 
    }
    #pricing {
        margin: 6em auto auto 5em;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    footer {
        margin: 1em auto auto 0em;
        width: 100%;
    }
    
}